

// .mat-form-field + .mat-form-field {
//   margin-left: 8px;
// }

// .example-radio-group {
//   display: flex;
//   flex-direction: column;
//   margin: 15px 0;
//   align-items: flex-start;
// }

.example-radio-button {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.matPanelTitle{
  display: flex !important;
  // align-items: flex-start !important;
  margin-left: -16px !important;
  margin: -10px 0px;
}



.product-grid {
    display: grid;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    gap: 20px;
    height: 100%;
    margin: 40px 0px;

 }

 #item-0 {

    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 3;

 }
 #item-1 {

    grid-row-start: 1;
    grid-column-start: 3;

    grid-row-end: 3;
    grid-column-end: 5;

 }
 #item-2 {

    grid-row-start: 1;
    grid-column-start: 5;

    grid-row-end: 3;
    grid-column-end: 7;

 }


 @media only screen and (max-width: 600px) {
    .product-grid {
        display: grid;

        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;

        gap: 20px;
        height: 100%;
        gap: 20px;
        height: 100%;
     }

     #item-0 {


        grid-row-start: 1;
        grid-column-start: 1;

        grid-row-end: 3;
        grid-column-end: 3;

     }
     #item-1 {

        grid-row-start: 3;
        grid-column-start: 1;

        grid-row-end: 5;
        grid-column-end: 3;

     }
     #item-2 {

        grid-row-start: 5;
        grid-column-start: 1;

        grid-row-end: 7;
        grid-column-end: 3;

     }
  }




  .online-container{
    position: relative;
  }
.online-sidebar-container{

  position: sticky;
top: 0;
    z-index: 100;
    // overflow: auto;
    z-index: 1;
    padding: 88px 0px;
}
  .sidenav {
   height: 500px;
   width: 245px;
  //  position: sticky;
  padding: 88px 0px;
   z-index: 1;
   top: 80;
  //  left: 0;
  //  color: black;
  //  // background-color: #111;
  //  // overflow-x: hidden;
  //  padding-top: 120px;
   margin-left: 10px;
  //  overflow: auto;
  }

//  .sidenav::after {
//   overflow: hidden;
//  }
//  .sidenav::before {
//   overflow: hidden;
//  }


 /* Style the sidenav links and the dropdown button */
 .sidenav a, .dropdown-btn {
   padding: 6px 18px 6px 16px;
   text-decoration: none;
   font-size: 15px;
   color: #818181;
   display: block;
   border: none;
   background: none;
   width: 100%;
   text-align: left;
   cursor: pointer;
   outline: none;
 }

 /* On mouse-over */
 .sidenav a:hover, .dropdown-btn:hover {
   color: #000000;
 }

 /* Main content */
 .main {
   margin-left: 200px; /* Same as the width of the sidenav */
   font-size: 20px; /* Increased text to enable scrolling */
   padding: 0px 10px;

   margin-top: -530px;
 }

 /* Add an active class to the active dropdown button */
 .active {
   background-color: green;
   color: white;
 }

 /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
 .dropdown-container {
   display: none;
   background-color: #262626;
   padding-left: 8px;
 }

 /* Optional: Style the caret down icon */
 .fa-caret-down {
   float: right;
   padding-right: 8px;
 }




.productDivMain{
  // background-color: rebeccapurple;
  margin: 2px 20px;
  padding: 30px;
}

.fraCardDiv{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

 .fraCard:hover{
visibility: visible;
}
.fraCard{
  // height: 200px;
  // background-color: white;
 box-shadow: -1px 5px 36px 19px rgb(0 0 0 / 20%);
 position: relative;
 color: black;
 visibility: hidden;
}

.wishicon{
  right: 0;
  // float: right;
    padding: 22px 26px;
    font-size: 20px;
    position: absolute;
    visibility: visible;

}

.proImg{
  max-height: 400px;
    visibility: visible;
    margin: 9px 9px;
    width: 94%;
}
.quickshop{
  text-align: center;
  margin-bottom: 11%;
  margin-top: -15%;
  font-size: 16px;
  font-weight: 600;
  color: #006bb4;
  position: absolute;
  background-color: white;
  opacity: 0.5;
  width: 100%;
  padding: 12px;
}

.quickshop:hover{
  color: black;
}

.proDtails{
  margin: 0px 15px;
  visibility: visible;
}

.proName{
  height: 60px;
}

.productSizeDiv{
  display: flex;
  gap: 6px;
}

.proSize{
  border-radius: 50%;
  background-color: #f0f0f0;
  color: #949494;
  font-size: 10px;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proSize:hover{
  border: 1px solid black;
}

.pAddtobag{
  margin-top: 14px;
  padding: 13px 11px;
  border: 1px solid;
  width: 40%;
  margin-bottom: 10%;

  font-size: 18px;
  visibility: visible;
}

.pAddtobag:hover{
  background-color: black;
  color: white;
}

 /* Some media queries for responsiveness */
 @media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
 }


 .colorFamilly{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
  margin: 20px -12px;
 }

 .colorFamillyP{
  border-radius: 50%;
  background-color: #f0f0f0;
  color: #949494;
  width: 23px;
  height: 23px;

  margin-left: 0px;
  display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

}

.colorFamillyP:hover{
border: 2px solid black;

}
