


<div class="newArrival-corner">
  <a href="#">
    <h4>Home</h4>
  </a>
  <p>></p>
  <p>CATALOGUE</p>
 </div>

 <div class="catMainDiv">
  <div *ngFor="let offer of catOffers | slice: 0:5; let i = index" [id]="getOfferId1(i)">

      <div class="catCardDiv">
        <div>
          <img [src]="offer.image" alt="" srcset="" />
        </div>
        <p>{{offer.title}}</p>
        <h1>{{offer.productName}}</h1>
      </div>

 </div>







<!--
      <div class="catCardDiv">
        <div>
          <img src="../../../assets/images/products/catalogue/cat2.webp" alt="">
        </div>
        <p>Apparel</p>
        <h1>J. KIDS WEDDING AND FORMAL COLLECTION</h1>
      </div>
      <div class="catCardDiv">
        <div>
          <img src="../../../assets/images/products/catalogue/cat3.webp" alt="">
        </div>
        <p>Apparel</p>
        <h1>J. KIDS WEDDING AND FORMAL COLLECTION</h1>
      </div>
      <div class="catCardDiv">
        <div>
          <img src="../../../assets/images/products/catalogue/cat4.webp" alt="">
        </div>
        <p>Apparel</p>
        <h1>J. KIDS WEDDING AND FORMAL COLLECTION</h1>
      </div>
      <div class="catCardDiv">
        <div>
          <img src="../../../assets/images/products/catalogue/cat5.webp" alt="">
        </div>
        <p>Apparel</p>
        <h1>J. KIDS WEDDING AND FORMAL COLLECTION</h1>
      </div>
    </div> -->
