

    <div class="catMainDiv">
      <div class="catCardDiv">
        <div>
          <img src="../../../assets/images/products/catalogue/cat1.webp" alt="">
        </div>
        <p>Apparel</p>
        <h1>J. KIDS WEDDING AND FORMAL COLLECTION</h1>
      </div>
      <div class="catCardDiv">
        <div>
          <img src="../../../assets/images/products/catalogue/cat2.webp" alt="">
        </div>
        <p>Apparel</p>
        <h1>J. KIDS WEDDING AND FORMAL COLLECTION</h1>
      </div>
      <div class="catCardDiv">
        <div>
          <img src="../../../assets/images/products/catalogue/cat3.webp" alt="">
        </div>
        <p>Apparel</p>
        <h1>J. KIDS WEDDING AND FORMAL COLLECTION</h1>
      </div>
      <div class="catCardDiv">
        <div>
          <img src="../../../assets/images/products/catalogue/cat4.webp" alt="">
        </div>
        <p>Apparel</p>
        <h1>J. KIDS WEDDING AND FORMAL COLLECTION</h1>
      </div>
      <div class="catCardDiv">
        <div>
          <img src="../../../assets/images/products/catalogue/cat5.webp" alt="">
        </div>
        <p>Apparel</p>
        <h1>J. KIDS WEDDING AND FORMAL COLLECTION</h1>
      </div>
    </div>
