

<div class="newArrivalOffer2-grid">
    <div  *ngFor="let offer of offers | slice: 8: 10; let i=index"  [id]="getOfferId(i)">
        <img [src]="offer.image" alt="" srcset="">
        
    </div>
   
  </div>

  <br> <br>

  <h4 style="text-align: center;">TODDLERS</h4>
<hr style="width: 80vw;align-items: center;margin: auto;">

<div class="infant-grid">
  <app-banner-card [infant]="infant" *ngFor="let infant of infants | slice: 0: 5; let i=index"  [id]="getInfantId(i)"></app-banner-card>
</div>

<br><br>

<div class="newArrivalOffer2-grid">
    <div  *ngFor="let offer of offers | slice: 10: 12; let i=index"  [id]="getOfferId(i)">
        <img [src]="offer.image" alt="" srcset="">
        
    </div>
   
  </div>

  <br> <br>
