
.newArrival-corner{
  display: flex;
  padding: 10px 40px 30px 40px;
  // font-family: $font-en-primary;
  font-weight: 200;
  color: grey;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.newArrival-corner h4{
  // padding: 5px;
  color: grey;
  // text-decoration: underline;
}
.newArrival-corner h4:hover{
  // padding: 5px;
  color: black;
  text-decoration: underline;
}
.newArrival-corner p{
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
}


.newArrivalOffer2-grid {
    margin: 35px 75px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    height: 100%;
 }

 #item-0 {
    background-color: #87B699;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
 }
 #item-1 {
    background-color: #BDD55B;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 5;

 }



 .infant-grid {
    display: grid;
   width: 80vw;
   grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   gap: 20px;
   height: 100%;
   margin: auto;

 }

 #item-2 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
 }
 #item-3 {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 5;
 }
 #item-4 {
    grid-row-start: 1;
    grid-column-start: 5;
    grid-row-end: 3;
    grid-column-end: 7;
 }
 #item-5 {
    grid-row-start: 1;
    grid-column-start: 7;
    grid-row-end: 3;
    grid-column-end: 9;
 }
 #item-6 {
    grid-row-start: 1;
    grid-column-start: 9;
    grid-row-end: 3;
    grid-column-end: 11;
 }
