
.newArrival-corner{
  display: flex;
  padding: 10px 40px 30px 40px;
  // font-family: $font-en-primary;
  font-weight: 200;
  color: grey;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.newArrival-corner h4{
  // padding: 5px;
  color: grey;
  // text-decoration: underline;
}
.newArrival-corner h4:hover{
  // padding: 5px;
  color: black;
  text-decoration: underline;
}
.newArrival-corner p{
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
}

.newArrival-banner{
    width: 70vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 20px;
}

.newArrivalOffer2-grid {
    margin: 30px 75px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    height: 100%;
 }

 #item-0 {
    background-color: #87B699;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
 }
 #item-1 {
    background-color: #BDD55B;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 5;

 }




 .womenOffer-grid2 {
   display: grid;
   margin: 30px 75px;
   grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   gap: 20px;
   height: 100%;
   padding-top: 30px;
   position: relative;
}
 .womenOffer22-grid2 {
   display: grid;
   margin: 30px 75px;
  //  grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 20px;
   height: 100%;
   padding-top: 30px;
   position: relative;
}

.womenOffersSubDiv{
  display: flex;
  align-items: end;
  justify-content: center;
}
#item-2 {

   grid-row-start: 1;
   grid-column-start: 1;
   grid-row-end: 3;
   grid-column-end: 3;

}
#item-3 {
   grid-row-start: 1;
   grid-column-start: 3;
   grid-row-end: 3;
   grid-column-end: 5;
}
#item-4 {
   grid-row-start: 1;
   grid-column-start: 5;
   grid-row-end: 3;
   grid-column-end: 7;
}






.infant-grid4 {
   display: grid;
  width: 90vw;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  gap: 20px;
  height: 100%;
  margin: auto;

}

#item-5 {
   grid-row-start: 1;
   grid-column-start: 1;
   grid-row-end: 3;
   grid-column-end: 3;
}
#item-6 {
   grid-row-start: 1;
   grid-column-start: 3;
   grid-row-end: 3;
   grid-column-end: 5;
}
#item-7 {
   grid-row-start: 1;
   grid-column-start: 5;
   grid-row-end: 3;
   grid-column-end: 7;
}
#item-8 {
   grid-row-start: 1;
   grid-column-start: 7;
   grid-row-end: 3;
   grid-column-end: 9;
}
#item-9 {
   grid-row-start: 1;
   grid-column-start: 9;
   grid-row-end: 3;
   grid-column-end: 11;
}


.womenOfferTitle{

  position: absolute;
    color: black;
    border: 3px solid black;
    /* margin-left: 40px; */
    /* margin-top: -82px; */
    padding: 20px 30px;
    background-color: white;
    margin-bottom: 26px;
}
.womenOfferTitle:hover{
color: white;
background: rgba(0, 0, 0, 0.5);
border: none;
  // background-color: transparent;
}
.trendyDiv{
  margin: 115px 75px;
}





@media only screen and (max-width: 600px) {
  .infant-grid4 {
     display: grid;

     grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     grid-template-columns: 1fr 1fr;

     gap: 20px;
     height: 100%;

  }

  #item-5 {

     grid-row-start: 1;
     grid-column-start: 1;

     grid-row-end: 3;
     grid-column-end: 3;

  }
  #item-6 {

     grid-row-start: 3;
     grid-column-start: 1;

     grid-row-end: 5;
     grid-column-end: 3;

  }
  #item-7 {

     grid-row-start: 5;
     grid-column-start: 1;

     grid-row-end: 7;
     grid-column-end: 3;

  }
  #item-8 {

     grid-row-start: 7;
     grid-column-start: 1;

     grid-row-end: 9;
     grid-column-end: 3;

  }
  #item-9 {

     grid-row-start: 9;
     grid-column-start: 1;

     grid-row-end: 11;
     grid-column-end: 3;

  }
}
